*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #010736;
    color: #FCF1D0;
}
#wrapper{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}
.lastresult{
    background-color: #565656;
}
.guesses{
    background-color: #22396F;
}
.lastresult{
    background-color: #0D1C42;
}
#subt{
    background-color: #22396F;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid white transparent;
}
.guessFild{
    padding: 6px 20px;
}