*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #dbdcdd;
    color: black
}

.canvas{
    display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.buttons{
    margin: 20px;
}
.button{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 1px;
    width: 100px;
    height: 100px;
    background-color: #fff9f9;
    border: 2px solid black;
}
#yellow{
    background-color: yellow;
}
#gray{
    background-color: gray;
}
#blue{
    background-color: blue;
}
#white{
    background-color: #fff;
    color: black;
}